{% from "form_helper.html" import displayField %}

{% extends "layout.html" %}

{% block title %} 

Book Info: {{book_info['title']}}


{% endblock %}

{% block content %}
    <h2>{{book_info['title']}}</h2>
    <!-- <img src="http://covers.openlibrary.org/b/isbn/{{book_info['isbn']}}-s.jpg" alt="Book Cover"> -->
    <h3>{{book_info['author']}}</h3>
    <h4>Published: {{book_info['year']}}</h4>
    <h4>ISBN: {{book_info['isbn']}}</h4>
    <!-- <img src="https://s.gr-assets.com/assets/press/logo-9a67f27d0b265fc757056c08b87d6299.jpg" alt="Goodreads"> -->
    <h4>Goodreads Info:</h4>
    <div>Average rating: {{ review_data['books'][0]['average_rating'] }}/5 </div>
    <div>From {{ review_data['books'][0]['work_ratings_count'] }} ratings</div>


    <form method="POST">
    <p>
    {{ displayField(form.review, "Review the book here")}}
    </p>
    <p><input type="submit" value="Post your review!">
    </p>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h4>User reviews of this book:</h4>
    {% for review in user_reviews %}

    <div>User: {{ review['user_id'] }}</div>
    <div>Review: {{ review['comment'] }}</div>

    {% endfor %}

{% endblock %}


<!-- <div>Ratings count: {{ review_data['books']['ratings_count'] }}</div> -->



