{% from 'form_helper.html' import displayField %}

{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <h4>Welcome to bookAPPraise! Please register or login if you have an account.</h4>

    <form action="{{ url_for('index') }}", method = "POST">
        
        {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true)}}
        {{ displayField(form.password, 'Password')}}
        {{ displayField(form.confirm_password, 'Retype Password')}}

        <div>
            {{ form.submit_button }}
        </div>

        {{ form.csrf_token }}
    </form>
{% endblock %}
