<!DOCTYPE html>
<html lang='en' dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - bookAPPraise</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    </head>
    <body>
        <nav>
            <div class="topnav">
                    <!-- <a class="active" href="index.html">bookAPPraise</a> -->
                    <a href="/">bookAPPraise</a>
                    {% if current_user.is_authenticated %}
                        <a href="/search">search</a>
                        <a href="/logout">logOut</a>
                        <a class="user">{{current_user.username}}</a>
                    {% else %}
                        <a href="/login">logIn</a>
                    {% endif %}
            </div>
        </nav>
        <div class="row">
            <!-- enable "No results found message" to flash on screen -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info text-center">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <main class="container p-5">
            {% block content %}
            {% endblock %}
        </main>
    </body>

</html>


