<!DOCTYPE html>
<html lang='en' dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - bookAPPraise</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/styles/styles.css">
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            {% if current_user.is_authenticated %}
            {% else %}
            {% endif %}

            <a class="navbar-brand" href="/">BookAPPraise</a>
            
            {% if current_user.is_authenticated %}

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="navbar-brand"><i class="fa fa-user"></i> {{current_user.username}} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/logout">logOut</a>
                </li>
            </ul>

            {% else %}

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>

            {% endif %}

          </nav>

        <div class="row">
            <!-- enable "No results found message" to flash on screen -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info text-center">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <main>
                <div class="container h-100 p-5 align-items-center">
                    {% block content %}
                    {% endblock %}
                </div>
        </main>
    </body>

</html>

