{% from 'form_helper.html' import displayField %}

{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="centre">
    <div class="col-12">
        <div class="row">
            <h2>Login now!</h2>
        </div>
        <div class="row">
            <h4>Or register for BookAPPraise <a href="/" class="text-link">here</a>.</h4>
        </div>
        <form action="{{ url_for('login')}}" method="POST">
            <div class="row">
                {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true)}}
            </div>
            <div class="row">
                {{ displayField(form.password, 'Password')}}
            </div>
            <div class="row">
                {{ form.submit_button }}
            </div>
            <div class="row">
                {{ form.csrf_token}}
            </div>
        </form>
    </div>
</div>
   
{% endblock %}

<h2>Login now!</h2>
<p>Enter your username and password to use bookAPPraise</p>

<form action="{{ url_for('login')}}" method="POST">
    {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true)}}
    {{ displayField(form.password, 'Password')}}

    <div>
        {{ form.submit_button }}
    </div>

    {{ form.csrf_token}}

</form>