{% from "form_helper.html" import displayField %}

{% extends "layout.html" %}

{% block title %} Search {% endblock %}

{% block content %}

<div class="centre">
    <div class="col-12">
        <div class="row">
            <h2>Let's get searching</h2>
        </div>
        <div class="row">
            <form method="POST">
                <p>
                {{ displayField(form.search, "Search here")}}
                </p>
                <p><input type="submit" value="Click me to search!">
                </p>
            </form>
        </div>
        <div class="row">
            <div>
                e.g. "The Magus", "John Fowles", "1965", or "0316296198"
                <br> (Searches are not case sensitive)
            </div>
        </div>
    </div>
</div>

{% endblock %}

<h2>Let's get searching</h2>

    <form method="POST">
        <p>
        {{ displayField(form.search, "Search here")}}
        </p>
        <p><input type="submit" value="Click me to search!">
        </p>
    </form>

    <div>
        <p>e.g. "The Magus", "John Fowles", "1965", or "0316296198"</p>
        <br>
        <p> (Searches are not case sensitive)</p>
        <br> 
        <p> Not sure what you're looking for? Just hit search to see the full list of books.</p>
    </div>

    <!-- enable "No results found message" to flash on screen -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}